
{% extends "index.html" %}
 {% block title %} <h1>Explora Nuestras Categorías de Recetas</h1> {% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col text-center">
            <p>Descubre recetas organizadas por categorías para facilitar tu búsqueda.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Desayunos">
                <div class="card-body">
                    <h5 class="card-title">Desayunos</h5>
                    <p class="card-text">Comienza tu día con energía con nuestras recetas de desayunos saludables y deliciosos.</p>
                    <a href="#" class="btn btn-primary">Ver Desayunos</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}