
{% extends "index.html" %}
{% block title %}<h1 class="text-center">BIENVENIDO A SABORES Y SABERES</h1>{% endblock %}
{% block contenido %}
        <div class="container-fluid bg-primary-subtle">
            <div class="row">
                <p class="text-center">En Sabores y Saberes, te ofrecemos una amplia variedad de recetas deliciosas y saludables, organizadas por categorías para facilitar tu búsqueda. Ya sea que busques opciones vegetarianas, platos rápidos o postres indulgentes, tenemos algo para todos los gustos. Explora nuestras recetas y encuentra inspiración para tu próxima comida saludable.</p>
                <div class="col-6">
        <img src="{{url_for('static', filename= 'img/ft.jpg')}}" class="rounded float-start p-3" alt="." weight="300" height="200">
    </div>
    <div class="col-6">
        <img src="{{url_for('static', filename= 'img/ff.jpg')}}" class="rounded float-end p-3" alt="." weight="200" height="200">
    </div>
    <div class="col-12">
        <img src="{{url_for('static', filename= 'img/qam.jpg')}}" class="rounded mx-auto d-block p-3" alt="." weight="300" height="200">
    </div>
    </div>
</div>

{% endblock %}