 {% extends "base.html" %}
{% block contenido %}
<h2>Perfil de {{ session['nombre'] }}</h2>
<ul>
    <li><strong>Nombre:</strong> {{ session['nombre'] }}</li>
    <li><strong>Email:</strong> {{ session['usuario'] }}</li>
    <li><strong>Actividad Física:</strong> {{ session['actividad'] }}</li>
    <li><strong>Género:</strong> {{ session['genero'] }}</li>
    <li><strong>Peso:</strong> {{ session['peso'] }}</li>
    <li><strong>Altura:</strong> {{ session['altura'] }}</li>
</ul>
{% endblock %}

  